<?php

$finder = \PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->in(__DIR__)
;

return \PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'concat_space' => false,
    ])
    ->setFinder($finder)
    ->setUsingCache(false)
;
